*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.NAVIGATION{
    width: 100%;
    height: 100vh;
    background: #222831;

}



nav{
    display: flex;
    width: 84%;
    padding: 23px 50px;
    justify-content: space-around;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 26px;
}
a{
    text-decoration: none;
    color: #FFDAAF;
    font-weight: bold;
    font-size: 17px;
}


a:hover
{
    color :black;
}




h1{
    font-size: 50px;
    color: #FFD369;
    margin-bottom: 40px ;
    text-align: center;
    font-family: all;
}


.ABOUT{
    margin-top: 20px;
    display: flex;
}



.first
{
    width: 90%;
    margin:20px;
    margin-top: 0px;
    padding :25px;
    text-align: center;
    border: solid 1px #FFD369;
    border-radius: 40px;
}

.second
{
    width: 90%;
    margin:20px;
    margin-top: 0px;
    padding :25px;
    text-align: center;
    border: solid 1px #FFD369;
    border-radius: 40px;
}


.ABOUT h2{
    font-size: 30px;
    color: #6DB09E;
    margin-bottom:20px ;
    margin-top:20px ;
    font-family: all;
}


.ABOUT p{
    color: #EEEEEE;
    font-size: 20px;
    height: 130px
   
}



h2.cas
{
    margin-top: 0px;
}






.copyright
{
    color: white;
    background-color: #b3721e;
    margin-top: -11px;
    padding: 3px;
    text-align: center;
}







